{% load django_browser_reload %}
{% load compress %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ room_actual_name }}</title>
    {% compress css %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    {% endcompress %}
  </head>
  <body class="flex flex-col items-center justify-center w-screen min-h-screen bg-gray-100 text-gray-800 p-10">

    <h2>{{ room_actual_name }}</h2>
    <!-- Component Start -->
    <div class="flex flex-col flex-grow w-full max-w-md bg-white shadow-xl rounded-lg overflow-hidden">
      <div id="bidding-log" class="flex flex-col flex-grow h-0 p-4 overflow-auto">
        <!-- Bidding messages -->
        
        <!-- Bidding messages End-->
      </div>
      
      <div class="bg-gray-300 p-4">
        <div class="flex items-center justify-between w-full p-3 gap-2 border-t border-gray-300">
              <input id="bidding-message-input" class="flex items-center h-10 w-full rounded px-3 text-sm" type="text" placeholder="Type your message…">
              <button type="submit" id="bidding-message-submit">
                <svg class="w-5 h-5 text-gray-500 origin-center transform rotate-90" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20" fill="currentColor">
                  <path
                    d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Component End  -->

    {{ room_name|json_script:"room-name" }}
    <script>
      const currentUser = {{ user_data|safe }};
      const roomName = JSON.parse(
        document.getElementById("room-name").textContent
      );

      const biddingSocket = new WebSocket(
        "ws://" + window.location.host + "/ws/bidding/" + roomName + "/"
      );

      biddingSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);

        if(currentUser.username == data.username){
          //sent message
          document.querySelector("#bidding-log").innerHTML += 
          '<div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">'+
            '<div>'+
              '<div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">'+
                '<p class="text-sm">'+data.message+'</p>'+
              '</div>'+
              '<span class="text-xs text-gray-500 leading-none">'+new Date()+'</span>'+
            '</div>'+
            '<div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>'+
          '</div>';
        } else{
          //received message
          document.querySelector("#bidding-log").innerHTML += 
          '<div class="flex w-full mt-2 space-x-3 max-w-xs">'+
            '<div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>'+
            '<div>'+
              '<div class="bg-gray-300 p-3 rounded-r-lg rounded-bl-lg">'+
                '<p class="text-sm">'+data.message+'</p>'+
              '</div>'+
              '<span class="text-xs text-gray-500 leading-none">'+new Date()+'</span>'+
            '</div>'+
          '</div>';
        }
                
      };

      biddingSocket.onclose = function (e) {
        console.error("Bidding socket closed unexpectedly");
      };

      document.querySelector("#bidding-message-input").focus();
      document.querySelector("#bidding-message-input").onkeyup = function (e) {
        if (e.keyCode === 13) {
          // enter, return
          document.querySelector("#bidding-message-submit").click();
        }
      };

      document.querySelector("#bidding-message-submit").onclick = function (e) {
        const messageInputDom = document.querySelector(
          "#bidding-message-input"
        );
        const message = messageInputDom.value;
        biddingSocket.send(
          JSON.stringify({
            message: message,
            username: currentUser.username,
          })
        );
        messageInputDom.value = "";
      };
    </script>
  </body>
</html>
